.wordbox {
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 4px;
  margin-top: 40px;
  background-color: #838383;
  color: #c6c6c6;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 16px;
  border-radius: 8px;
  z-index: 1;
}
.word--active {
  background-color: #83b910;
  color: white;
}

.letter---typed {
  color: #bfbfbf;
}

.letter---left {
  color: #d3d3d3;
}

.letter---current {
  border-bottom: #ffffff solid 3px;
  color: #ffffff;
}
.letter---mistake {
  color: #e57373;
}

