.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px auto 0 auto;
  width: 100%;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.results-header {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  border-bottom: 2px solid var(--text-secondary);
  margin: 20px;
  padding-bottom: 3px;
}

.results-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  padding: 6px 0;
  list-style: none;
  border-bottom: 1px solid var(--line);
  border-radius: 1px;
  margin: 10px;
}

.results__clear {
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 50px;
  background-color: var(--error);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.results__clear:hover {
  background-color: #c03b3b;
}

.results__toggle-container {
  text-align: center;
}

.results__toggle {
  background-color: var(--button-bg);
  color: var(--button-text); 
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.results__toggle:hover {
  background-color: #3381c1;
  transform: scale(1.03);
}

.best-result {
  display: grid;
  width: 250px;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: repeat(4, auto); 
  gap: 8px;
  align-items: center;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: var(--award);
  margin: 20px 0;
}

.best-icon {
  grid-row: 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-stats {
  grid-column: 2; 
  grid-row: 1 / span 3; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
  font-weight: bold;
}

.best-date {
  grid-column: 2;
  grid-row: 4; 
  font-size: 1rem;
  color: var(--text-secondary);
}
