.stage {
  position: relative;
  height: 340px;
  padding: 32px;
  margin: 32px auto;
  background-color: #464646;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  align-items: center;
}

.stage__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.stage__mistakes {
  font-size: 30px;
  color: #b9b9b9;
}

.stage__time {
  font-size: 40px;
  color: rgb(185, 185, 185);
}

.stage__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
} 

.overlay {
  position: absolute;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  animation: fadeIn 0.4s ease;
  backdrop-filter: blur(3px);
  z-index: 10; 
}

.overlay__content p {
  font-size: 1.2rem;
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
