@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --bg-primary: #121212;
  --bg-secondary: #282828;
  --text-primary: #ffffff;
  --text-secondary: #e0e0e0;
  --accent: #83b910;
  --error: #e64747;
  --button-bg: #335d7e;
  --button-text: #ffffff;
  --overlay-bg: rgba(0, 0, 0, 0.6);
  --wordbox-bg: #838383;
  --wordbox-text: #c6c6c6;
  --wordbox-active-bg: var(--accent);
  --wordbox-active-text: var(--text-primary);
  --letter-typed: #bfbfbf;
  --letter-left: #d3d3d3;
  --letter-current-border: #ffffff;
  --letter-current-text: #ffffff;
  --letter-mistake: #e57373;
  --toggle-bg: #f5c242;
  --bg-button: #464646;
  --award: #4b4b4b;
  --line: #8a8a8a8f;
}

[data-theme="light"] {
  --bg-primary: #f5f5f5;
  --bg-secondary: #ffffff;
  --text-primary: #444444;
  --text-secondary: #333333;
  --accent: #9ad717;
  --error: #c03b3b;
  --button-bg: #3381c1;
  --button-text: #ffffff;
  --overlay-bg: rgba(255, 255, 255, 0.6);
  --wordbox-bg: #a6a6a6;
  --wordbox-text: #333333;
  --wordbox-active-bg: var(--accent);
  --wordbox-active-text: var(--text-primary);
  --letter-typed: #e4e4e4;
  --letter-left: #e4e4e4;
  --letter-current-border: #ffffff;
  --letter-current-text: #ffffff;
  --letter-mistake: #de3333;
  --toggle-bg: #74b9f1;
  --bg-button: #d2d2d2;
  --award: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 16px;
  padding-bottom: 50px;
}

